/* about */
#about {
    .network-icon {
        position: relative;
        bottom: 25px;
    }
}

/* que-estudiamos */
#grupos {
    .avatar-circle {
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
        -moz-box-shadow:    3px 3px 5px 6px #ccc;
        box-shadow: 3px 6px 2px 0px #ccc;
    }
    .avatar-circle:hover {
        opacity: 0.5;
    }
}

/* hero */
#quienes-somos {
    .hero-title, .hero-lead, .col-6.mx-auto.col-md-6.order-md-2 {
        opacity: 0;
        position: relative;
        left: 0px;
        -webkit-animation: slide-right 2.5s cubic-bezier(0.87, 0, 0.13, 1) forwards;
        animation: slide-right 2.5s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    }
    @-webkit-keyframes slide-right {
        100% {left: 0; opacity: 1}
    }
}